/*
<div id="abc"> </div>
#abc {
  css 스타일 속성;
}

<div class="abc"> </div>
.abc{
  css 스타일 속성;
}
*/

h1 {
  color: orange;
}

.test-div {
  border: 3px solid black;
  width: 200px;
  height: 200px;
  background-color: lavender;
}

.test-div:active {
  background-color: yellow;
}

.테스트-div {
  background-color: #ddd;
  border: 3px solid black;
  width: 200px;
  height: 300px;
  cursor: pointer;
}

.테스트-div:active {
  background-color: black;
  color: white;
  font-size: 30px;
}

.hover-box {
  border: 3px solid black;
  width: 200px;
  height: 300px;
  background-color: #ddd;
  cursor: pointer;
}

.hover-box:hover {
  /* background-image : 배경 이미지 지정,  url("이미지 주소")
    background-size : 배경 이미지 크기 지정 , cover : 칸 사이즈에 맞게 이미지 사이즈 수정
  */

  background-image: url(../../01_HTML/img/cat.jpeg);
  background-size: cover;
}

.호버-박스 {
  border: 3px dotted orange;
  width: 200px;
  height: 200px;
  background-color: yellow;
  cursor: pointer;
}

.호버-박스:hover {
  background-image: url(../../01_HTML/img/flower1.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 30px;
}

.focus-box {
  text-align: center;
}
.input-box {
  border: 5px solid yellowgreen;
  padding: 15px;
  border-radius: 10px;
}
.input-box:focus {
  /* input으로 키보드 초점이 맞춰졌을 때 바깥쪽에 생기는 선
    outline-color : input 바깥 테두리 색상
    outline-width : input 바깥 테두리 두께
    outline-style : input 바깥 테두리 점선/실선
    추세는 아웃라인 제거
  */

  outline-color: lightblue;
  outline-width: 10px;
  outline-style: solid;
}
